body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
    margin: 0;
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

.header img {
    height: 40px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.register-container {
    background-color: #fcfcfc; /* White background for the form */
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin-top: -50px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1em;
}

h2 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: #253892; 
    font-size: 2rem;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #005aab;
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    background-color: #005aab;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #253892; /* Darker blue on hover */
}

.footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.footer a {
    color: #253892;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.register a {
    color: #253892;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

/* Large screens */
@media (min-width: 1024px) {
    .register-container {
        width: 400px;
    }

    h2 {
        font-size: 2rem;
    }
}

/* Tablets and smaller screens */
@media (max-width: 1024px) {
    .register-container {
        width: 100%;
        max-width: 350px;
    }
}

/* Mobile screens */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .register-container {
        padding: 20px;
        width: 100%;
        box-shadow: none;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    .footer,
    .register {
        font-size: 10px;
    }
}
